{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<main>
		<div class="container">

			<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

							<div class="d-flex justify-content-center py-4">
								<a href="index.html" class="logo d-flex align-items-center w-auto">
									<img src="assets/img/logo.png" alt="">
									<span class="d-none d-lg-block">ACE</span>
								</a>
							</div>
							<!-- End Logo -->

							<div class="card mb-3">

								<div class="card-body">

									<div class="pt-4 pb-2">
										<h5 class="card-title text-center pb-0 fs-4">Se connecter</h5>
										<p class="text-center small">Entrez votre email & mot de passe pour se connecter</p>
									</div>

									<form method="post">
										{% if error %}
											<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
										{% endif %}

										{% if app.user %}
											<div class="mb-3">
												You are logged in as
												{{ app.user.userIdentifier }},
												<a href="{{ path('app_logout') }}">Logout</a>
											</div>

										{% endif %}

										<label for="inputEmail">E-mail</label>
										<input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Entrer l'adresse e-mail..." class="form-control" autocomplete="email" required autofocus>
										<br>
										<label for="inputPassword">Mot de passe</label>
										<input type="password" name="password" id="inputPassword" placeholder="Password" class="form-control" autocomplete="current-password" required>

										<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
										<br>
										<div class="flex justify-between items-center mb-6">
											<div class="form-group form-check">
												<input type="checkbox" class="form-check-input" name="_remember_me"/>
												<label class="form-check-label inline-block text-gray-800">Se rappeler de moi</label>
											</div>
										</div>

										                    {#
															    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
															    See https://symfony.com/doc/current/security/remember_me.html
																																																		
															    <div class="checkbox mb-3">
															        <label>
															            <input type="checkbox" name="_remember_me"> Remember me
															        </label>
															    </div>
															#}
										<br>
										<button class="btn btn-lg btn-primary" type="submit">
											S'identifier
										</button>

									</form>
									<hr>
									<div class="text-center">
										<a class="small" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié?</a>
									</div>
									<div class="text-center">
										<a class="small" href="{{ path('app_register') }}">Créer un compte!</a>
									</div>
								</div>
							</div>

							<div class="credits"></div>

						</div>
					</div>
				</div>

			</section>

		</div>
	</main>
	<!-- End #main -->
{% endblock %}
