{% extends 'base-front.html.twig' %}

{% block title %}Reservation {% endblock %}
{% block home %}
		<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="w-100" src="{{ asset('front-office/img/gestion.jpg') }}" alt="Image">
						<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
							<div class="p-3" style="max-width: 900px;">
								<br><br><br>
								<h5 class="text-white text-uppercase mb-3 animated slideInDown">Ace</h5>
								<h1 class="display-1 text-white mb-md-4 animated zoomIn">Art, Culture & Entertainment</h1>
							</div>
						</div>
					</div>

				</div>

			</div>
{% endblock %}

{% block body %}
    <h1>Reservation </h1>
{% set reservations_qte_res = 0 %}
{% set reservations_qte_res2 = 0 %}



{% for reservation in reser %}
    {% if reservation.qte == 1  %}
        {% set reservations_qte_res = reservations_qte_res + 1 %}
    {% elseif reservation.qte >= 2  %}
        {% set reservations_qte_res2 = reservations_qte_res2 + 1 %}
    
    {% endif %}
{% endfor %}

    <div class="row">
    <div class="col-md-4">
        <div class="card bg-primary text-dark bg-opacity-25">
            <div class="card-body">
                <h5 class="card-title card-title-dash" style="color: #343A40; font-weight: bold;">Réservations en solo</h5>
                <p class="card-text" style="font-size: 36px; font-weight: bold; color: #007BFF;">{{ reservations_qte_res }}</p>
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-primary text-dark bg-opacity-25">
            <div class="card-body">
                <h5 class="card-title card-title-dash" style="color: #343A40; font-weight: bold;">Réservations en groupes </h5>
                <p class="card-text" style="font-size: 36px; font-weight: bold; color: #007BFF;">{{ reservations_qte_res2 }}</p>
            </div>
        </div>
    </div>
    
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdUser</th>
                <th>Event</th>
                <th>Qte</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.idUser }}</td>
                <td>{{ reservation.event.id }}</td>
                <td>{{ reservation.qte }}</td>
             
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
    <nav class="pagination-nav">
  {{ knp_pagination_render(pagination) }}
</nav>

<style>
  .pagination-nav {
    display: flex;
    justify-content: left;
    margin: 20px 0;
  }

  .pagination a,
  .pagination span {
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 0 5px;
    color: #333;
    text-decoration: none;
    text-align: center;
  }

  .pagination .active {
    background-color: #007bff;
    color: aqua;
  }

  .pagination a:hover:not(.active),
  .pagination span:hover:not(.active) {
    background-color: #ddd;
    text-decoration: none;
  }
</style>


   
   
    

</div>






</a>
{% endblock %}
