{% extends 'base-front.html.twig' %}

{% block title %}Post 
{% endblock %}
{% block home %}
		<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="w-100" src="{{ asset('front-office/img/gestion.jpg') }}" alt="Image">
						<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
							<div class="p-3" style="max-width: 900px;">
								<br><br><br>
								<h5 class="text-white text-uppercase mb-3 animated slideInDown">Ace</h5>
								<h1 class="display-1 text-white mb-md-4 animated zoomIn">Art, Culture & Entertainment</h1>
							</div>
						</div>
					</div>

				</div>

			</div>
{% endblock %}
{% block body %}
	<script src="https://kit.fontawesome.com/baf8e62e68.js" crossorigin="anonymous"></script>
	<br>
	<h1>Bienvenu(e) sur le forum de ACE</h1>
	<br>
	<table class="table">
		<thead>
			<tr>
				<th>numéro du post</th>
				<th>Sujet</th>
				<th>Vues</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for key,post in posts %}
				<tr>
					<td>{{ post.getId_post}}</td>
					<td>{{ post.getSujet }}</td>
					<td>{{ post.getView }}</td>

					<td>
						<a href="{{ path('app_post_show', {'id_post': post.id_post}) }}" class="btn btn-primary btn rounded text-light">Accéder
							<i class="fa-sharp fa-solid fa-eye"></i>
						</a>
						{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('app_post_edit', {'id_post': post.id_post}) }}" class="btn btn-success btn rounded text-light">Modifier
							<i class="fa-sharp fa-solid fa-pen"></i>
						</a>
						{% endif %}

						<a href="{{ path('app_post_signal', {'id_post': post.id_post}) }}" class="btn btn-dark btn rounded text-light">Signaler
							<i class="fa-solid fa-flag"></i>
						</a>

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ knp_pagination_render(posts) }}

	<a href="{{ path('app_post_new') }}">Créer un nouveau</a>
{% endblock %}
