{% extends 'base-back.html.twig' %}

{% block title %}Post 
{% endblock %}

{% block body %}
	<section class="section">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Gestion des Post signalés</h5>


	<table class="table">
		<thead>
			<tr>
				<th>Id_post</th>
				<th>Sujet</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
				{% if post.signaled %}
					<tr>
						<td>{{ post.getId_post }}</td>
						<td>{{ post.getSujet }}</td>

						<td>
							<a href="{{ path('app_post_show', {'id_post': post.id_post}) }}" class="btn btn-primary btn rounded text-light">Afficher</a>
							<a href="{{ path('app_post_edit', {'id_post': post.id_post}) }}" class="btn btn-success btn rounded text-light">Modifier</a>
							<a href="{{ path('app_post_unsignal', {'id_post': post.id_post}) }}" class="btn btn-warning btn rounded text-light">Unsignalé</a>

						</td>
					</tr>
				{% endif %}
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ knp_pagination_render(posts) }}


{% endblock %}
