{% extends 'base-front.html.twig' %}

{% block title %}Hotel {% endblock %}
{% block home %}
		<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="w-100" src="{{ asset('front-office/img/gestion.jpg') }}" alt="Image">
						<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
							<div class="p-3" style="max-width: 900px;">
								<br><br><br>
								<h5 class="text-white text-uppercase mb-3 animated slideInDown">Ace</h5>
								<h1 class="display-1 text-white mb-md-4 animated zoomIn">Art, Culture & Entertainment</h1>
							</div>
						</div>
					</div>

				</div>

			</div>
{% endblock %}
{% block body %}
 <style>
  .checkbox-heart {
    position: relative;
    display: inline-block;
    margin: 0 auto;
  }

  .checkbox-heart input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkbox-heart i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    width: 24px; /* adjust this value as needed */
    height: 24px; /* adjust this value as needed */
    line-height: 24px; /* adjust this value as needed */
    text-align: center;
    color: #ccc;
  }

  .checkbox-heart input:checked + i {
    color: #F88379;
  
  }
  #hotel-search-form {
  display: flex;
  align-items: center;
}

#hotel-search-form .input-group {
  width: 20%;
  margin-left: auto;
}

#hotel-search-form .form-control {
  font-size: 14px;
  height: auto;
  padding: 0.5rem 0.75rem;
}

#hotel-search-form .btn {
  height: auto;
  padding: 0.5rem 0.75rem;
}
</style>
<div style=" margin-left: 50px; margin-right: 50px;">

<br>
    <h1>Hotels </h1>
 <form id="hotel-search-form">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search hotels" aria-label="Search hotels">
    <button id="hotel-search-button" class="btn btn-outline-secondary"  href="#">
      <i class="fas fa-search"></i>
    </button>
  </div>
</form>
<br>

    <table  class="table  table-hover display nowrap  border " style="width:100%; " >
        <thead>
          <tr class="table-primary" height="50px"> 
                <th class="text-center">Favorite</th>
                <th class="text-center">Name</th>
                <th class="text-center">Stars</th>
                <th class="text-center">Type</th>
                 {#  <th class="text-center">Place</th>   #}
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
        {% for hotel in hotels %}
            <tr>
<td >
  <label class="checkbox-heart">
    <input type="checkbox">
    <i class="fas fa-heart" ></i>
  </label>
</td>
                <td>{{ hotel.nom }}</td>
                <td>{{ hotel.etoile }} Stars</td>
                <td>{{ hotel.type }}</td>
    {#<td>{{ hotel.place is not null ? hotel.place.pays : 'N/A' }}</td>   #}            
  <td>
                     <a href="{{ path('generate_qr_code_hotel', {'id': hotel.id}) }}" class="btn btn-info btn rounded text-light">QR Code</a>
                       {# <a href="https://www.google.com/maps/search/Hotels+{{ hotel.place.pays }}" class="btn btn-danger btn rounded text-light  " target="_blank">Map</a>

#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <nav class="pagination-nav">
  {{ knp_pagination_render(pagination) }}
</nav>

<style>
  .pagination-nav {
    display: flex;
    justify-content: right;
    margin: 20px 0;
  }

  .pagination a,
  .pagination span {
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 0 5px;
    color: #333;
    text-decoration: none;
    text-align: center;
  }

  .pagination .active {
    background-color: #007bff;
    color: aqua;
  }

  .pagination a:hover:not(.active),
  .pagination span:hover:not(.active) {
    background-color: #ddd;
    text-decoration: none;
  }
</style>



</div>
{% endblock %}

