<h1 class="align-center">Bienvenue dans votre application</h1>

<p>Voila la liste de tout les sponsors </p>
<table class="table" border="5" >
    <thead>
    <tr>
                <th>Id_sponsor</th>
                <th>Intitule</th>
                <th>Duree_contrat</th> 
                <th>Date_debc</th>
                <th>Date_finc</th>
                <th>actions</th>
                
            </tr>
    </thead>
    <tbody>
 
    {% for sponsor in sponsors %}
                <tr>
                    <td>{{ sponsor.getId_sponsor }}</td>
                    <td>{{ sponsor.getIntitule }}</td>
                    <td>{{ sponsor.getDureeContrat }}</td>
                    <td>{{ sponsor.getDateDebc ? sponsor.dateDebc|date('Y-m-d') : '' }}</td>
                    <td>{{ sponsor.getDateFinc ? sponsor.dateFinc|date('Y-m-d') : '' }}</td>
                    <td>  
                        <a href="{{ path('app_sponsor_show', {'id_sponsor': sponsor.id_sponsor}) }}" class="btn btn-primary btn rounded text-light">show</a>
                        <a href="{{ path('app_sponsor_edit', {'id_sponsor':sponsor.id_sponsor}) }}" class="btn btn-success btn rounded text-light">edit</a>
                    </td>
                </tr>
         
    {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<br>
<br>