{% extends 'base-front.html.twig' %}

{% block title %}
	Evenement
{% endblock %}
{% block home %}
	<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="w-100" src="{{ asset('front-office/img/gestion.jpg') }}" alt="Image">
				<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
					<div class="p-3" style="max-width: 900px;">
						<br><br><br>
						<h5 class="text-white text-uppercase mb-3 animated slideInDown">Ace</h5>
						<h1 class="display-1 text-white mb-md-4 animated zoomIn">Art, Culture & Entertainment</h1>
					</div>
				</div>
			</div>

		</div>

	</div>
{% endblock %}
{% block body %}
	<div class="container">
		<div class="card">
			<div class="card-header">
				<h1 class="text-center">Evenement</h1>
			</div>
			<div class="card-body">
				<table class="table">
					<tbody>
						<tr>
							<th>Id_event</th>
							<td>{{ evenement.getId }}</td>
						</tr>
						<tr>
							<th>Duree</th>
							<td>{{ evenement.getDuree }}</td>
						</tr>
						<tr>
							<th>Prix</th>
							<td>{{ evenement.getPrix }}</td>
						</tr>
						<tr>
							<th>Date_deb</th>
							<td>{{ evenement.getDateDeb ? evenement.dateDeb|date('Y-m-d') : '' }}</td>
						</tr>
						<tr>
							<th>Date_fin</th>
							<td>{{ evenement.getDateFin ? evenement.dateFin|date('Y-m-d') : '' }}</td>
						</tr>
						<tr>
							<th>Nom_event</th>
							<td>{{ evenement.getNomEvent }}</td>
						</tr>
						<tr>
							<th>Qr Code</th>
							<td><img src="{{ qr_code['changeBgColor']|raw}}" alt="QR Code"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer">

				<p>
					<a href="https://www.google.com/maps/place/{{ evenement.destin }}" "target="_blank">
						<span class="badge bg-warning">voir dans la map</span>
					</a>
				</p>

			</div>
		</div>
	</div>
{% endblock %}
