<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Ace
			{% block title %}
				Home
			{% endblock  %}
		

		</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="Free HTML Templates" name="keywords">
		<meta
		content="Free HTML Templates" name="description">

		<!-- Favicon -->
		<link
		href="{{ asset('img/favicon.ico') }}" rel="icon">


		<!-- Google Web Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
		href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

		<!-- Icon Font Stylesheet -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

		{% block lib %}
			<!-- Libraries Stylesheet -->
			<link
			href="{{ asset('front-office/lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
			<!-- Animate.css Stylesheet -->
			<link href="{{ asset('front-office/lib/animate/animate.min.css') }}" rel="stylesheet">
		{% endblock %}
		<!-- Customized Bootstrap Stylesheet -->
		{% block css %}
			<link
			href="{{ asset('front-office/css/bootstrap.min.css') }}" rel="stylesheet">

			<!-- Template Stylesheet -->
			<link href="{{ asset('front-office/css/style.css') }}" rel="stylesheet">
		{% endblock %}
	</head>
	<body>
	
		<!-- Spinner Start -->
		<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
			<div class="spinner"></div>
		</div>
		<!-- Spinner End -->
		<!-- Navbar & Carousel Start -->
		<div class="container-fluid position-relative p-0">
			<nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
				<a href="index.html" class="navbar-brand p-0">
					<h1 class="m-0">
					<img src="{{ asset('front-office/img/logo.png') }}" width="7%">ACE</h1>

				</a>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<div class="navbar-nav ms-auto py-0">
						<a href="{{ path('app_login') }}" class="btn btn-primary py-2 px-4 ms-3">Connexion</a>
						<a href="{{ path('app_register') }}" class="btn btn-primary py-2 px-4 ms-3">S'inscrire</a>
					</div>
				</div>
			</nav>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="w-100" src="{{ asset('front-office/img/img.jpg') }}" alt="Image">
					<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
						<div class="p-3" style="max-width: 900px;">
							<h2 class="text-white text-uppercase mb-3 animated slideInDown">Ace</h2>
							<h1 class="display-1 text-white mb-md-4 animated zoomIn">Art, Culture & Entertainment</h1>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Navbar & Carousel End -->


		<!-- Full Screen Search Start -->
		<div class="modal fade" id="searchModal" tabindex="-1">
			<div class="modal-dialog modal-fullscreen">
				<div class="modal-content" style="background: rgba(9, 30, 62, .7);">
					<div class="modal-header border-0">
						<button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body d-flex align-items-center justify-content-center">
						<div class="input-group" style="max-width: 600px;">
							<input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
							<button class="btn btn-primary px-4">
								<i class="bi bi-search"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Full Screen Search End -->


		<!-- Footer Start -->
		<div class="container-fluid bg-dark text-light mt-5 wow fadeInUp" data-wow-delay="0.1s">
			<div class="container">
				<div class="row gx-5">
					<div class="col-lg-4 col-md-6 footer-about">
						<div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-primary p-4">
							<a href="index.html" class="navbar-brand">
								<h1 class="m-0 text-white">
									<i class="fa fa-user-tie me-2"></i>ACE</h1>
							</a>
							<p class="mt-3 mb-4">Ace est le guide de sorties en Tunisie qui réunit dans une seule application les meilleurs endroits à visiter en Tunisie, les événements culturels, les soirées, les sorties cinéma, les excursions et randonnées, les voyages ou encore les bons plans culinaires.</p>
						</div>
					</div>
					<div class="col-lg-8 col-md-6">
						<div class="row gx-5">
							<div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
								<div class="section-title section-title-sm position-relative pb-3 mb-4">
									<h3 class="text-light mb-0">Contactez-nous</h3>
								</div>
								<div class="d-flex mb-2">
									<i class="bi bi-geo-alt text-primary me-2"></i>
									<p class="mb-0">TUNISIE</p>
								</div>
								<div class="d-flex mb-2">
									<i class="bi bi-envelope-open text-primary me-2"></i>
									<p class="mb-0">ace@gmail.com</p>
								</div>
								<div class="d-flex mb-2">
									<i class="bi bi-telephone text-primary me-2"></i>
									<p class="mb-0">+216 72 474 110</p>
								</div>
								<div class="d-flex mt-4">
									<a class="btn btn-primary btn-square me-2" href="#">
										<i class="fab fa-twitter fw-normal"></i>
									</a>
									<a class="btn btn-primary btn-square me-2" href="#">
										<i class="fab fa-facebook-f fw-normal"></i>
									</a>
									<a class="btn btn-primary btn-square me-2" href="#">
										<i class="fab fa-linkedin-in fw-normal"></i>
									</a>
									<a class="btn btn-primary btn-square" href="#">
										<i class="fab fa-instagram fw-normal"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid text-white" style="background: #061429;">
			<div class="container text-center">
				<div class="row justify-content-end">
					<div class="col-lg-8 col-md-6">
						<div class="d-flex align-items-center justify-content-center" style="height: 75px;">
							<p class="mb-0">&copy;
								<a class="text-white border-bottom" href="#">ACE
								</a>. All Rights Reserved 2023.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer End -->

		<!-- Facts Start -->
		<!-- JavaScript Libraries -->
			{% block js %}<script src="https://code.jquery.com/jquery-3.4.1.min.js"> </script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
			<script src="{{ asset('front-office/lib/wow/wow.min.js') }}"></script>
			<script src="{{ asset('front-office/lib/easing/easing.min.js') }}"></script>
			<script src="{{ asset('front-office/lib/waypoints/waypoints.min.js') }}"></script>
			<script src="{{ asset('front-office/lib/counterup/counterup.min.js') }}"></script>
			<script src="{{ asset('front-office/lib/owlcarousel/owl.carousel.min.js') }}"></script>

			<!-- Template Javascript -->
			<script src="{{ asset('front-office/js/main.js') }}"></script>
		{% endblock %}
	</body>

</html>
